<div id="album">
<h3>Page 1</h3>
<div id="navigation">
<nav aria-label="Page navigation">
<ul class="pagination">
<li class="active"><a href="/templates/<%= templateName %>/0">1</a></li>
<li><a href="/templates/<%= templateName %>/1">2</a></li>
<li><a href="/templates/<%= templateName %>/2">3</a></li>
<li><a href="/templates/<%= templateName %>/3">4</a></li>
<li><a href="/templates/<%= templateName %>/4">5</a></li>
<li><a href="/templates/<%= templateName %>/5">6</a></li>
<li><a href="/templates/<%= templateName %>/1" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
</ul>
</nav>
</div><div id="pictures" style="width:554px; height:594px">
<img src="/<%= templateName %>/img/line-green-br.png" width="250" height="187">
<img src="/<%= templateName %>/img/arrow-blue-tl.png" width="250" height="187">
<img src="/<%= templateName %>/img/triangle-green-tl.png" width="250" height="187">
<img src="/<%= templateName %>/img/circle-blue-tl.png" width="250" height="187">
<img src="/<%= templateName %>/img/line-grey-tl.png" width="250" height="187">
<img src="/<%= templateName %>/img/diamond-grey-tl.png" width="250" height="187">
</div>
<div id="navigation">
<nav aria-label="Page navigation">
<ul class="pagination">
<li class="active"><a href="/templates/<%= templateName %>/0">1</a></li>
<li><a href="/templates/<%= templateName %>/1">2</a></li>
<li><a href="/templates/<%= templateName %>/2">3</a></li>
<li><a href="/templates/<%= templateName %>/3">4</a></li>
<li><a href="/templates/<%= templateName %>/4">5</a></li>
<li><a href="/templates/<%= templateName %>/5">6</a></li>
<li><a href="/templates/<%= templateName %>/1" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
</ul>
</nav>
</div></div>
