<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Photo Album <% if(locals.templateName){ %> > <%= templateName %> <% } %></a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="<% if(locals.page == 'home'){ %> active <% } %>"><a href="/">Home</a></li>

        <% if(locals.templates){ %>

        <li class="dropdown <% if(locals.page == 'template'){ %> active <% } %>">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Templates<span class="caret"></span></a>
          <ul class="dropdown-menu">
                <li><a href="/manage-templates">Manage</a></li>
                <li role="separator" class="divider"></li>
                 <% templates.forEach(function(template){ %>

                 <li class="template-name"><a href="/templates/<%= template %>"> <%= template %> </a></li>

                 <% }); %>

          </ul>
        </li>

        <% } %>


        <li class="dropdown <% if(locals.page == 'solution'){ %> active <% } %>">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Create solution<span class="caret"></span></a>
          <ul class="dropdown-menu">

                 <% templates.forEach(function(template){ %>

                 <li><a href="/solution/<%= template %>"> <%= template %> </a></li>

                 <% }); %>

        </ul>

        </li><!-- <li class="<% if(locals.page == 'about'){ %> active <% } %>"><a href="/about">About</a></li>
        <li class="<% if(locals.page == 'contact'){ %> active <% } %>"><a href="/contact">Contact</a></li> -->

      </ul>

      <div>
        <ul class="nav navbar-form navbar-right">
            <button id="link_compile_scala" data-link="/compile_scala" class="btn btn-primary">Compile <span class="glyphicon glyphicon-play-circle"></span></button>
            <button id="link_update_git" data-link="/update_git" class="btn btn-primary">Update <span class="glyphicon glyphicon-cloud-download"></span></button>
            <button id="link_restart_server" data-link="/restart_server" class="btn btn-warning">Restart & build <span class="glyphicon glyphicon-repeat"></span></button>
        </ul>
      </div>

      <% if(locals.page != 'solution'){ %>
        <div id="process-running">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="#">Process running <span class="badge">0</span></a>
            </li>
          </ul>
        </div>

      <% } %>

    </div><!--/.nav-collapse -->
  </div>
</nav>

<% if(locals.page != 'solution'){ %>

  <div id="process-running-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header process-running-modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Current running process</h4>
        </div>
        <div id="progress-content" class="modal-body">

        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

<% } %>
