
<!-- Modal whichi shows graphic information data or just information about file generated -->
<div id="generation-info-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header process-running-modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Information about generation file</h4>
            </div>
            <div class="modal-body">

                <div id="graphic-representation">

                </div>
            </div>
        </div>
    </div>
</div>


<div class="page-header">
    <div class="row">
        <div class="col-md-4 col-sm-12">
            <h1><% if(locals.templateName){ %><%= templateName %> <% } %></h1>
            <p style="font-size:0.9em">Generated with <b><%= currentSolution %></b></p>
        </div>

        <% if(locals.templateName){ %>
        <div class="col-md-8 col-sm-12">
            <form action="/generate-album" method="POST" id="generate-album" class="form-inline">
              <div class="form-group">

                <input id="templateName" name="templateName" type="hidden" value="<%= templateName %>" />

                <select name="albumType" id="albumType" class="form-control">

                  <% albumsType.forEach(function(albumType){ %>

                      <option value="<%= albumType %>"> <%= albumType %></option>

                  <% }); %>

                </select>

              <% if(locals.solutions){ %>
                <select name="solutionFile" id="solutionFile" class="form-control">

                  <% solutions.forEach(function(sol){ %>

                      <option value="<%= sol %>"> <%= sol %></option>

                  <% }); %>

                </select>

              </div>
              <button type="submit" class="btn btn-primary">Generate</button>

              <% } else {%>
                 <select name="solutionFile" id="solutionFile" class="form-control" disabled="true">
                     <option>No solution found</option>
                 </select>
                 </div>
                 <button type="submit" class="btn btn-primary" disabled="true">Generate</button>
              <% } %>
            </form>
        </div>
        <% } %>
    </div>
</div>

<%- include('../templates/' + templateName + '/page_' + idPage) %>