<div id="album">
<h3>Page 1</h3>
<div id="navigation">
<nav aria-label="Page navigation">
<ul class="pagination">
<li class="active"><a href="/template/<%= templateName %>/0">1</a></li>
<li><a href="/template/<%= templateName %>/1">2</a></li>
<li><a href="/template/<%= templateName %>/2">3</a></li>
<li><a href="/template/<%= templateName %>/3">4</a></li>
<li><a href="/template/<%= templateName %>/4">5</a></li>
<li><a href="/template/<%= templateName %>/5">6</a></li>
<li><a href="/template/<%= templateName %>/6">7</a></li>
<li><a href="/template/<%= templateName %>/7">8</a></li>
<li><a href="/template/<%= templateName %>/1" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
</ul>
</nav>
</div><div id="pictures" style="width:554px; height:597px">
<img src="/<%= templateName %>/img/rIMG_1945.jpg" width="250" height="187">
<img src="/<%= templateName %>/img/rIMG_1983.jpg" width="250" height="187">
<img src="/<%= templateName %>/img/rIMG_1956.jpg" width="250" height="187">
<img src="/<%= templateName %>/img/rIMG_1964.jpg" width="250" height="187">
<img src="/<%= templateName %>/img/rIMG_1973.jpg" width="250" height="187">
<img src="/<%= templateName %>/img/rIMG_1976.jpg" width="250" height="187">
</div>
<div id="navigation">
<nav aria-label="Page navigation">
<ul class="pagination">
<li class="active"><a href="/template/<%= templateName %>/0">1</a></li>
<li><a href="/template/<%= templateName %>/1">2</a></li>
<li><a href="/template/<%= templateName %>/2">3</a></li>
<li><a href="/template/<%= templateName %>/3">4</a></li>
<li><a href="/template/<%= templateName %>/4">5</a></li>
<li><a href="/template/<%= templateName %>/5">6</a></li>
<li><a href="/template/<%= templateName %>/6">7</a></li>
<li><a href="/template/<%= templateName %>/7">8</a></li>
<li><a href="/template/<%= templateName %>/1" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
</ul>
</nav>
</div></div>
