<div id="album">
<h3>Page 2</h3>
<div id="navigation">
<nav aria-label="Page navigation">
<ul class="pagination">
<li><a href="/album/<%= albumName %>/0" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
<li><a href="/album/<%= albumName %>/0">1</a></li>
<li class="active"><a href="/album/<%= albumName %>/1">2</a></li>
<li><a href="/album/<%= albumName %>/2">3</a></li>
<li><a href="/album/<%= albumName %>/3">4</a></li>
<li><a href="/album/<%= albumName %>/4">5</a></li>
<li><a href="/album/<%= albumName %>/5">6</a></li>
<li><a href="/album/<%= albumName %>/2" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
</ul>
</nav>
</div><div id="pictures" style="width:765px; height:576px">
<img src="/<%= albumName %>/img/rIMG_2006.jpg" width="250" height="187">
<img src="/<%= albumName %>/img/rIMG_2004.jpg" width="250" height="187">
<img src="/<%= albumName %>/img/rIMG_1998.jpg" width="250" height="187">
<img src="/<%= albumName %>/img/rIMG_1980.jpg" width="250" height="187">
<img src="/<%= albumName %>/img/rIMG_1979.jpg" width="250" height="187">
<img src="/<%= albumName %>/img/rIMG_1978.jpg" width="250" height="187">
<img src="/<%= albumName %>/img/rIMG_1962.jpg" width="250" height="187">
<img src="/<%= albumName %>/img/rIMG_1940.jpg" width="250" height="187">
<img src="/<%= albumName %>/img/rIMG_1942.jpg" width="250" height="187">
</div>
<div id="navigation">
<nav aria-label="Page navigation">
<ul class="pagination">
<li><a href="/album/<%= albumName %>/0" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
<li><a href="/album/<%= albumName %>/0">1</a></li>
<li class="active"><a href="/album/<%= albumName %>/1">2</a></li>
<li><a href="/album/<%= albumName %>/2">3</a></li>
<li><a href="/album/<%= albumName %>/3">4</a></li>
<li><a href="/album/<%= albumName %>/4">5</a></li>
<li><a href="/album/<%= albumName %>/5">6</a></li>
<li><a href="/album/<%= albumName %>/2" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
</ul>
</nav>
</div></div>
